/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9; 
    border-radius: 8px /* Adjusted background color for consistency */
}

/* Animated background gradient */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, #200aa0, #1f50b9, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

header {
    width: 100%;
    padding: 20px 50px;
    background: transparent; /* Transparent header */
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-links ul li {
    padding: 0 15px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #ffffff; /* White color text for visibility */
    font-weight: bold;
}

.logo {
    width: 250px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align the content */
    margin-top: 100px; /* Adjusted to avoid overlap with fixed header */
    width: 80%;
    max-width: 1000px;
}

.form-container {
    width: 100%; /* Full container width */
    background: #ffffff; /* White background for forms */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px; /* Space between sections */
}

input[type="email"], input[type="password"], input[type="text"], select {
    width: 100%; /* Full width */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

button {
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: block; /* Center button */
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    width: 100%; /* Full container width */
    padding: 20px;
    background: #ffffff; /* White background for weather info */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 20px; /* Space after form */
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffffc7;
    border-radius: 8px /* White background for the table */
}

.profile-table th, .profile-table td {
    border: 1px solid #ccccccb9;
    padding: 8px;
    text-align: left;
    border-radius: 8px
}

.profile-table th {
    background-color: #f8f8f8b0;
    border-radius: 8px
}

/* Styles pour le titre du profil */
.h1-profile {
    font-size: 2.5rem; /* Taille de la police augmentée */
    color: #eff1f3; /* Couleur bleue douce, mais visible */
    text-align: center; /* Centrer le titre */
    margin-top: 120px; /* Espacement pour ne pas chevaucher le header, ajustez selon vos besoins */
    margin-bottom: 20px; /* Espacement avant le contenu suivant */
    font-weight: bold; /* Moins de gras pour plus de finesse */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Ombre subtile pour un effet de profondeur */
    transition: all 0.3s ease-in-out; /* Transition pour hover effects */
}

/* Hover effect pour le titre */
.h1-profile:hover {
    transform: scale(1.1); /* Légère augmentation de taille au survol */
    color: #e68e2a; /* Changement de couleur au survol */
}

