*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
header{
    margin-bottom: 1.5em;;
}
body {
    background: linear-gradient(-45deg, #200aa0, #1f50b9, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
html {
    background: black;
    scroll-behavior: smooth;
    padding-bottom: 0px;
}

a{
    text-decoration: none;
    color: black;

}

h1, h2, h3{
    color: white;
    text-align: center;
    margin: auto;
}

.txt{
    margin: 3em;
    line-height: 1em;
    border-radius: 5px;
    color: white;
    text-align: justify;
    padding: 0.5em;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.txt.visible {
    opacity: 1;
}
select.txt,input.txt, option.txt {
    background: black;
}
.container{
    text-align: center;
}
a.txt {
    margin: 0 auto;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    z-index: 0;
}

a.txt:before {
    content: '';
    background: linear-gradient(45deg, white, lightblue, cyan, blue, darkblue, indigo, black, grey, white);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

a.txt:active {
    color: #000
}

a.txt:active:after {
    background: transparent;
}

a.txt:hover:before {
    opacity: 1;
}

a.txt:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#myChart {
    color: white;
    margin: 0 auto;
    display: none;
    width: 900px;
    height: 600px;
    margin-bottom: 3em;
}
#legende {
    color: white;
    display: none;
    height: 2em;
    border: white 1px solid;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 4em;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
}
.graph-container {
    display: flex;
    margin: 0 auto;
    margin-bottom: 5em;
}

.graph {
    margin: 0 auto;
    margin-bottom: 5em;
    color: white;
    border: 5px solid transparent;
    border-radius: 2em;
    padding-left: 1em;
    width: 60em;
    animation: borderGradient 15s ease infinite;
}

@keyframes borderGradient {
    0% {
        border-color: #23d5ab;
    }
    25% {
        border-color: #23a6d5;
    }
    50% {
        border-color: #1f50b9;
    }
    75% {
        border-color: #200aa0;
    }
    100% {
        border-color: #23d5ab;
    }
}
.img_p2{
    height:auto;
    width: 25em;
    object-fit: cover;
    margin: 10px;
    border-radius: 15px;
    padding: 2em;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.nav-links{
    width: 25%;
}


.nav-bar .nav-links ul{
    display: flex;
}

.nav-bar .nav-links ul li{
    margin: 0 8px;
}

.nav-bar a{
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
    color: white;
}

.nav-bar a:hover{
    border-bottom: 1px solid white;
}


.logo{
    width: auto;
    height: 50px;
    object-fit: cover;
}



#createButton {
    font-size:large;
    position: absolute; 
    top: 62%; 
    left: 38%; 
    text-align: justify;
    background: #000;
    color: #fff;
    line-height: 42px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

#discoverButton {
    font-size:large;
    position: absolute; 
    top: 62%; 
    left: 44.5%; 
    text-align: justify;
    background: #000;
    color: #fff;
    line-height: 42px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

#createButton:hover,
#discoverButton:hover {
    background: transparent;
    color: #000;
}

#createButton:before,
#createButton:after,
#discoverButton:before,
#discoverButton:after{
    content:'';
    position:absolute;
    top:0px;
    left: 2px;
    height:2px;
    width:0;
    background: #000;
}


#createButton:after,
#discoverButton:after{
    right:initial;
    top:initial;
    left:0;
    bottom:0;
}

#createButton:hover:before,
#createButton:hover:after,
#discoverButton:hover:before,
#discoverButton:hover:after{
    width:100%;
    transition:800ms ease all;
}

.main h1{
    text-align: left;
    margin: 20px;
}


.p3{
    color: #fff;
    background-color: #000;
}

.premier_par{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
}

.premier_par h1 {
    padding-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}

.premier_par p {
    font-size: large;
    padding-left: 20px;
    text-align: justify;
}

.img_p3{
    border-radius: 5%;
    padding-left: 8px;
    width: 42em;
    height: auto;
    object-fit: cover;   
}

table {
    color: white;
}
select{
    align-items: center;
}
.gif{
    border-radius: 60%;
}
#map{
    margin-top: 50px;
}
.grandCercle{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: lightblue;
    border: blue 1px solid;
    margin-left: 10px;
}
.moyenCercle{
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    background: lightblue;
    border: blue 1px solid;
}
.petitCercle{
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background: lightblue;
    border: blue 1px solid;
    margin-right: 10px;}