*{
    font-family: 'Poppins', sans-serif;
    /* border: solid black 1px;   */
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
}

.nav-bar{
    background-color: black;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.nav-links{
    width: 25%;
}


.nav-bar .nav-links ul{
    background-color: black;
    display: flex;
}

.nav-bar .nav-links ul li{
    background-color: black;
    margin: 0 25px;
}

.nav-bar a{
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
    background-color: black;
    color: white;
}

.nav-bar a:hover{
    border-bottom: 1px solid white;
}


.logo{
    width: auto;
    height: 50px;
    object-fit: cover;
}

.image-main{
    width: 100%;
    height: 100vh;
    object-fit: cover;   
}


.main-page h1 {
    position: absolute; /* Position absolue par rapport au conteneur parent */
    top: 40%; /* Placez le haut du texte au milieu du conteneur parent */
    left: 8%; /* Placez le côté gauche du texte au milieu du conteneur parent */
}

.main-page p {
    font-size: large;
    position: absolute; /* Position absolue par rapport au conteneur parent */
    top: 48%; /* Placez le haut du texte au milieu du conteneur parent */
    left: 10%; /* Placez le côté gauche du texte au milieu du conteneur parent */
    max-width: 40%;
    text-align: justify;
    border-left: 2px solid transparent;
}

.main-page p:hover{
    padding-left: 10px;
    border-left: 2px solid black;
    transition: border-left 1.2s;
}

.main-page button {
    font-size:large;
    position: absolute; 
    top: 60%; 
    left: 45%; 
    text-align: justify;
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

.main-page button:hover {
    background: transparent;
    color: #000;
}

.main-page button:before,
.main-page button:after{
    content:'';
    position:absolute;
    top:0px;
    left: 2px;
    height:2px;
    width:0;
    background: #000;
}


.main-page button:after{
    right:initial;
    top:initial;
    left:0;
    bottom:0;
}

.main-page button:hover:before,
.main-page button:hover:after{
    width:100%;
    transition:800ms ease all;
}

.main h1{
    text-align: left;
    margin: 20px;
}

.premier_par{
    background-color: black;
    color: #fff;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.premier_par h1 {
    padding-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}

.premier_par p {
    font-size: large;
    padding-left: 20px;
}

.img_p3{
    border-radius: 5%;
    padding-left: 8px;
    width: 300%;
    height: auto;
    object-fit: cover;   
}